
.footer {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .footer-container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .footer-section {
    background-color: white; 
    padding: 20px;
    border-radius: 5px;
    text-align: left;
  }
  
  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    
  }
  
  .footer ul li {
    margin-bottom: 10px;
    
  }
  
  
  .footer-section.social-media ul {
    list-style: none;
    padding: 0;
    display: flex; 
  }
  
  .footer-section.social-media ul li {
    margin-right: 20px; 
  }
  
  .footer-section.social-media a {
    color: red;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section.social-media a:hover {
    color: blue;
  }
  
  
  .footer a {
    color: BLUE;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ff5733;
  }
  
  .footer .contact-help p {
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 10px;
    color: rgb(224, 19, 19);
  }
  