.upcoming-events {
    padding: 20px;
    background-color: #f9f9f9;
}

.upcoming-events h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the minmax value for card width */
    grid-gap: 20px;
}

.event-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image doesn't overflow */
    height: 250px; /* Set a fixed height for the container */
    margin-top: 10px; /* Add top margin */
    margin-bottom: 10px; /* Add bottom margin */
}

.event-name {
    position: absolute;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 20px); /* Take full width minus padding */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.event-date {
    color: black;
}

.event-sport {
    color: black;
}

.event-teams {
    color: black;
}

.event-location {
    color: black;
}

.event-card {
    background-color: #fff;
    border-radius: 10px; /* Adjust border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.event-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.view-all-button {
    display: inline-block; 
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none; 
    margin: 20px auto;
    text-align: center; 
    margin-left: 40%;
}

.view-all-button:hover {
    background-color: #ff8555;
}

.event-image-container {
    position: relative;
}

.event-image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adjust border radius */
}